In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [50]:
df=pd.read_csv("revenue_prediction.csv")
df=df.drop(columns=["Id","Name"])
df.head()

  Franchise       Category       City  No_Of_Item  Order_Placed  Revenue
0       Yes        Mexican  Bengaluru          55           5.5  5953753
1        No    Varied Menu   Gurugram          72           6.8  7223131
2       Yes        Chicken       Pune          25           1.9  2555379
3       Yes  Italian/Pizza     Mumbai          18           2.5  2175511
4       Yes          Pizza      Noida          48           4.2  4816715

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Franchise     100 non-null    object
 1   Category      100 non-null    object
 2   City          100 non-null    object
 3   No_Of_Item    100 non-null    int64
 4   Order_Placed  100 non-null    float64
 5   Revenue       100 non-null    int64
dtypes: float64(1), int64(2), object(3)
memory usage: 4.8+ KB

In [29]:
df.shape

(100, 6)

In [30]:
df.describe()

       No_Of_Item  Order_Placed       Revenue
count  100.000000    100.000000  1.000000e+02
mean    49.080000      4.086000  4.395161e+06
std     22.370923      2.055101  2.659932e+06
min     18.000000      1.000000  8.498700e+05
25%     34.750000      2.750000  2.688328e+06
50%     45.000000      3.650000  3.911401e+06
75%     57.250000      5.100000  5.330084e+06
max    126.000000     13.000000  1.969694e+07

In [31]:
df.isnull().sum()

Franchise       0
Category        0
City            0
No_Of_Item      0
Order_Placed    0
Revenue         0
dtype: int64

In [45]:
df.keys()

Index(['Franchise', 'Category', 'City', 'No_Of_Item', 'Order_Placed',
       'Revenue'],
      dtype='object')

In [52]:
cat=df.select_dtypes(include='object')
cat.columns

Index(['Franchise', 'Category', 'City'], dtype='object')

In [53]:
from sklearn.preprocessing import LabelEncoder
for i in cat.columns:
    le=LabelEncoder()
    df[i]=le.fit_transform(df[i])

In [54]:
df

    Franchise  Category  City  No_Of_Item  Order_Placed  Revenue
0           1        12     0          55           5.5  5953753
1           0        19     1          72           6.8  7223131
2           1         5     4          25           1.9  2555379
3           1        11     2          18           2.5  2175511
4           1        13     3          48           4.2  4816715
..        ...       ...   ...         ...           ...      ...
95          0        11     0          19           1.1  1270499
96          1        19     0          75           6.3  6412623
97          1        19     1          77           6.2  6694797
98          1        17     4          25           2.1  2344689
99          0         2     2          50           4.4  4567678

[100 rows x 6 columns]

In [34]:
df["Franchise"]=le.fit_transform(df["Franchise"])
df["Category"]=le.fit_transform(df["Category"])
df["City"]=le.fit_transform(df["City"])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Franchise     100 non-null    int32
 1   Category      100 non-null    int32
 2   City          100 non-null    int32
 3   No_Of_Item    100 non-null    int64
 4   Order_Placed  100 non-null    float64
 5   Revenue       100 non-null    int64
dtypes: float64(1), int32(3), int64(2)
memory usage: 3.6 KB

In [36]:
X=df.drop(columns=["Revenue"])
y=df["Revenue"]

In [56]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [57]:
lr=LinearRegression()

In [58]:
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)
y_pred

array([5035159.9 , 5572071.98, 4057278.94, 3688277.05, 4141590.11,
       3901994.01, 4067920.45, 3628751.54, 3475677.21, 4871091.85,
       5325833.73, 3173809.26, 3262589.95, 2497879.96, 2920302.32,
       4480257.85, 5709438.17, 1552093.48, 1825131.8 , 2170172.98])

In [59]:
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [60]:
print(f'MAE: {mae}')
print(f'MSE: {mse}')
print(f'R²: {r2}')

MAE: 405830.18
MSE: 289972845850.74695
R²: 0.8019658341772217